<!-- header -->
<app-header></app-header>

<div style="height:70px"></div>

<div class="container text-center ">
    <div class="col mt-4 border rounded border-secondary">
        <h1 class="bg-secondary text-light">404</h1>
        <h3>Look Like You're Lost!!</h3>
        <img width="300px" class="img-fluid" src="https://www.orangescrum.com/img/404.gif"
         alt="page not found image" style="height: 300px;">
        <h3 class="bg-secondary text-light">The page you are looking for is not available!</h3>
    </div>
</div>